@import '../node_modules/normalize.css/normalize.css';

body {
  background: #eee;
  width: 90%;
  margin: 0 auto;
}

.is-flex {
  display: flex;

  &.direction-row {
    flex-direction: row;
  }

  &.direction-column {
    flex-direction: column;
  }

  &.is-v-centered {
    align-items: center;
  }

  &.is-h-centered {
    justify-content: center;
  }

  &.is-v-end {
    align-items: flex-end;
  }

  &.is-h-end {
    justify-content: flex-end;
  }
}
